[submodule "bsp_linux"]
	path = bsp_linux
	url = git@github.com:grivera90/bsp_linux.git
[submodule "libraries/cli_board"]
	path = libraries/cli_board
	url = git@github.com:grivera90/cli_board.git
[submodule "libraries/configuration_parser"]
	path = libraries/configuration_parser
	url = git@github.com:grivera90/configuration_parser.git
[submodule "libraries/file_binary_pack"]
	path = libraries/file_binary_pack
	url = git@github.com:grivera90/file_binary_pack.git
